
.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

 .add {
    padding: 6px 10px;
    font-size: 14px;
}

.label {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.input {
    cursor: text;
    width: fit-content;
    margin: 2px 0 10px 0;
    font-size: 18px;
    font-weight: 500;
} 